*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .container {
    margin-top: 100px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  input {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #7700ff;
    color: white;
    border: none;
    cursor: pointer;
  }